/** Non-semantic helper classes: please define your styles before this section. **/
/* For image replacement */
.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}
.hidden { display: none !important; visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &.focusable:active, &.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}

.invisible { visibility: hidden; }

.clearfix {
  *zoom: 1;

  &:after {
    clear: both;
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }

  &:before {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
}

/* Inlined to avoid required HTTP connection */
@media print {
  * { 
    background: transparent !important; 
    color: #000 !important; 
    box-shadow: none !important; 
    text-shadow: none !important; 
  }

  a, a:visited { text-decoration: underline; }

  a[href]:after { content: " (" attr(href) ")"; }

  abbr[title]:after { content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }

  pre, blockquote { 
    border: 1px solid #999; 
    page-break-inside: avoid; 
  }

  thead { display: table-header-group; }

  tr, img { page-break-inside: avoid; }

  @page { margin: 0.5cm; }

  p, h2, h3 { orphans: 3; widows: 3; }

  h2, h3{ page-break-after: avoid; }
}
/** end Non-semantic helper classes **/