html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console"
    , "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono"
    , "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier
    , monospace;
    font-size: 0.9em;
    color: #333333;
    height: 100%;
    background-color: transparent;
    margin: 0;
    padding: 0;
    background: #888888;
}

h1 {
    color: #000000;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: -8px;
}

h2 {
    color: #000000;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: -8px;
}

h3 {
    color: #000000;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: -8px;
}

h4 {
    color: #000000;
    font-size: 1.05em;
    margin-top: 0;
    margin-bottom: -8px;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #2e6B2e;
    font-weight: bold;
}

a:hover, a:active {
    color: #2e6B2e;
    font-weight: bold;
    border-bottom: dotted 1px #2e6B2e;
}

a img {
    border: 0;
    text-decoration: none;
}

acronym, abbr {
    border-bottom: 1px dotted #2e6B2e;
}

acronym:hover, abbr:hover {
	cursor: help;
}

address {
    font-style: normal;
}

cite {
    font-style: normal;
}

del {
    text-decoration: line-through;
}

#container {
    margin: 0 auto;
    width: 960px;
}

#header {
    background: #000000;
    border-right: solid 3px #9a9a9a;
    border-bottom: solid 1px #9a9a9a;
    margin: 35px auto 0 auto;
    padding: 8px 8px 0 8px;
    width: 750px;
    text-align: center;
}

#nav {
    background-color: #99aadd;
    border-right: solid 3px #6484e0;
    border-bottom: solid 1px #6484e0;
    margin: -1px auto 0 auto;
    padding: 0 8px;
    width: 750px;
    font-size: 0.9em;
    text-transform: uppercase;
}

#nav ul {
    margin: 0;
    padding: 4px 0;
    text-align: center;
}

#nav li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline;
}

#nav a {
    color: #000000;
    padding: 3px 8px;
    margin: 0;
    text-decoration: none;
    border: solid 1px #99aadd;
    border-top: none;
}

#nav a:hover ,#nav a:active {
    background-color: #ffffff;
    border: solid 1px #000000;
    border-top: none;
}

#nav li.active a {
    color: #000000;
    background-color: #6484e0;
    border: solid 1px #000000;
    border-top: none;
}

#content {
    clear: both;
    background: #d7f5d7;
    border-right: solid 3px #2e6b2e;
    margin: 0 auto;
    padding: 3px 8px;
    width: 750px;
}

#footer {
    background: #d7f5d7;
    border-right: solid 3px #2e6b2e;
    border-bottom: solid 3px #2e6b2e;
    margin: 0 auto;
    padding: 3px 8px;
    width: 750px;
    text-align: center;
}

#footer a {
    text-align: center;
    border: solid 1px #000000;
    color: #000000;
    background-color: #ffffff;
}

#footer a:link, #footer a:visited {
    padding-right: 3px;
    padding-left: 3px;
    font-size: 0.8em;
    text-decoration: none;
}

#footer a:hover, #footer a:active {
    border: solid 2px #000000;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 0.85em;
    text-decoration: none;
}

#bottomFixed {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

#bottomFixed div.copyright {
    float: left;
    padding-left: 5px;
    font-size: 0.9em;
}

#bottomFixed div.badges {
    text-align: right;
    padding-right: 5px;
}

.blue {
    color: #6484e0;
}

.darkGreen {
    color: #2e6B2e;
}

.hideTitle, a.skip {
    display: none;
}

.quote {
    font-size: 0.75em; 
    color: #000000; 
}