---
layout: default
---
<article class="post">
  <header class="clearfix">
    <h1>{{ page.title }}</h1>
    <time datetime="{{ page.date|date: "%Y-%m-%d" }}">{{ page.date | date: "%B %d, %Y"}}</time>
  </header>
  <section class="content">
    {{ content }}
  </section>
  <footer>
    <a href="{{ post.url }}">&#149; permalink &#149;</a>
  {% if page.project_url %}
    &#160;&#160;&#160;&#160;<a href="{{ page.project_url }}" title="{{ page.project_title }} project on Github">&#149; go to project &#149;</a>
  {% endif %}
  </footer>
</article>
